<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title>Detai Tugas Pengirim</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Judul Tugas</ion-card-title>
      <ion-card-subtitle>Nama Siswa Perngirim</ion-card-subtitle>
    </ion-card-header>
    </ion-card>

    <ion-card style="padding-top: 45px;">
      <ion-card-header>
        <ion-card-title>File Tugas Siswa</ion-card-title>
      </ion-card-header>
      </ion-card>

      <ion-item>
        <ion-label>Nilai</ion-label>
        <ion-input placeholder="/100" type="text" slot="end"></ion-input>
      </ion-item>

      <div class="ion-padding">

        <ion-button style="float: right;" routerLink="/tabs/tab1">Kembalikan</ion-button>
      </div>
    </ion-content>
