<ion-header>
  <ion-toolbar color="primary">
    <ion-title style="text-align: center;">LOGIN</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-padding" style="text-align: center;">
    <img src="./assets/icon/favicon.png">
    </div>
  
    
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input placeholder="Masukan Email" [(ngModel)] ="user.email"></ion-input>
    </ion-item>
  

    
    <ion-item>
      <ion-label position="stacked">Password</ion-label>
      <ion-input type= "password" placeholder="Masukan Password" [(ngModel)] ="user.password"></ion-input>
    </ion-item>
  

    <div class="ion-padding">
      <ion-button expand="block" (click) = "login()"  [disabled]='loading'>{{loading ? 'Tunggu..' : 'Login'}}</ion-button>
    </div>

    <div class="ion-padding">
      <ion-button expand="block" routerLink="/register">Register</ion-button>
    </div>
    
    
</ion-content>
