<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Nilai Siswa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row style="border-bottom: groove;">
    <ion-col col-4>
    <ion-label >NISN</ion-label>
  </ion-col>
  <ion-col col-4>
      <ion-label >Nama Siswa</ion-label>
  </ion-col>
  <ion-col col-4>
    <ion-label >Nilai</ion-label>
  </ion-col>
</ion-row>
<ion-row style="border-bottom: groove;">
  <ion-col col-4>
    <ion-label >1786</ion-label>
  </ion-col>
  <ion-col col-4>
    <ion-label >Adi Prasetya</ion-label>
  </ion-col>
  <ion-col col-4>
    <ion-label >80</ion-label>
  </ion-col>
</ion-row>
<ion-row style="border-bottom: groove;">
  <ion-col col-4>
    <ion-label >4532</ion-label>
  </ion-col>
  <ion-col col-4>
      <ion-label >Dita Fitria</ion-label>
    </ion-col>
  <ion-col col-4>
      <ion-label >87</ion-label>
    </ion-col>
  </ion-row>
  <ion-row>
      <ion-col col-4>
      <ion-label >5342</ion-label>
    </ion-col>
    <ion-col col-4>
      <ion-label >Uus Wijaya</ion-label>
    </ion-col>
      <ion-col col-4>
      <ion-label >98</ion-label>
    </ion-col>
  </ion-row>
  
</ion-content>

