<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Buat Mata Pelajaran Baru</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
  <ion-item style="padding-top: 25px;">
    <ion-label position="stacked">Nama Mata Pelajaran</ion-label>
    <ion-input [(ngModel)]="dataMapel.nama"></ion-input>
  </ion-item>

  <ion-item style="padding-top: 25px;">
    <ion-label position="stacked">Nama Guru</ion-label>
    <ion-input [(ngModel)]="dataMapel.namagr"></ion-input>
  </ion-item>

  <ion-item style="padding-top: 25px;">
    <ion-label position="stacked">Deskripsi</ion-label>
    <ion-input [(ngModel)]="dataMapel.deskripsi"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Kelas</ion-label>
    <ion-select [(ngModel)]="dataMapel.kelas" name="nama-kelas" placeholder="Kelas">
      <ion-select-option value="Kelas X 1" name ="Kelas X 1">Kelas X 1</ion-select-option>
      <ion-select-option value="Kelas X 2" name = "Kelas X 2">Kelas X 2</ion-select-option>
    </ion-select>
  </ion-item>
</ion-list>

  <div class="ion-padding">
    <ion-button style="float: right;" (click)="simpanMapel()" [disabled]='loading'>{{loading ? 'Membuat..' : 'Buat'}}</ion-button>
  </div>

</ion-content>
