<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      E-Tugas 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Mata Pelajaran</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card routerLink = "/gr-wali/detail-nilai">
    <ion-card-header>
      <ion-card-title><kbd>Matematika</kbd></ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card routerLink = "/gr-wali/detail-nilai">
    <ion-card-header>
      <ion-card-title><kbd>Sejarah</kbd></ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card routerLink = "/gr-wali/detail-nilai">
    <ion-card-header>
      <ion-card-title><kbd>Kimia</kbd></ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card routerLink = "/gr-wali/detail-nilai">
    <ion-card-header>
      <ion-card-title><kbd>Bahasa Indonesia</kbd></ion-card-title>
    </ion-card-header>
  </ion-card>
  
  
 


