<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Daftar Tugas Siswa 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>
  <ion-toolbar>
    <ion-title size = "small">Tenggat : Senin 21 Desember 2020</ion-title>
  </ion-toolbar>

  <ion-card routerLink="/detail-mapel/detail-tugas">
    <ion-card-header>
      <ion-card-title size="small">Judul Tugas</ion-card-title>
      <ion-card-subtitle size= "small">Nama Mapel</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-toolbar>
    <ion-title size = "small">Tenggat : Sabtu 26 Desember 2020</ion-title>
  </ion-toolbar>

  <ion-card>
    <ion-card-header>
      <ion-card-title size="small">Judul Tugas</ion-card-title>
      <ion-card-subtitle size= "small">Nama Mapel</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  
</ion-content>
