<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      E-Tugas 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card routerLink = "/detail-mapel">
    <ion-card-header>
      <ion-card-title>Nama Mapel</ion-card-title>
      <ion-card-subtitle>Kelas Mapel</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Nama Guru Pengampu
    </ion-card-content>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" routerLink="/tambah-mapel">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>

