<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Buat Tugas Baru</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item style="padding-top: 25px;">
    <ion-label position="stacked">Judul Tugas</ion-label>
    <ion-input [(ngModel)]="dataTask.judul"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Deskripsi Tugas</ion-label>
    <ion-input [(ngModel)]="dataTask.deskripsi"></ion-input>
  </ion-item>


  <ion-item>
    <ion-label position="stacked">Poin</ion-label>
    <ion-input [(ngModel)]="dataTask.poin"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Tenggat</ion-label>
    <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="dataTask.date"></ion-datetime>
  </ion-item>

  <div class="ion-padding">
    <ion-button style="float: right;" (click)="simpanTugas()" [disabled]='loading'>{{loading ? 'Membuat..' : 'Buat'}}</ion-button>
  </div>
</ion-content>
