<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Daftar Tugas 
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>

  <ion-card routerLink="/guru/detail-tugas-guru">
    <ion-card-header>
      <ion-card-title size="small">Judul Tugas</ion-card-title>
      <ion-card-subtitle size= "small">Nama Mapel</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title size="small">Judul Tugas</ion-card-title>
      <ion-card-subtitle size= "small">Nama Mapel</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
</ion-content>

