<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tabs1">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

  

    <ion-tab-button tab="tabs2">
      <ion-icon name="person-circle-outline">
      </ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>


</ion-tabs>