<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
  </ion-header>

  <div class="ion-padding" style="text-align: center;">
  <img src="./assets/icon/favicon.png">
  <h3>Nama Guru</h3>
  </div>

  <ion-list>
    <ion-item routerLink="/profile">
      <ion-icon name="person-outline" slot="start"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-item>
    <ion-item routerLink="/profile/notif">
      <ion-icon name="notifications-outline" slot="start"></ion-icon>
      <ion-label>Notifikasi</ion-label>
    </ion-item>
    <ion-item routerLink="/profile/pengaturan">
      <ion-icon name="settings-outline" slot="start"></ion-icon>
      <ion-label>Pengaturan</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="help-circle-outline" slot="start"></ion-icon>
      <ion-label>Bantuan</ion-label>
    </ion-item>
  </ion-list>
    
  
  
</ion-content>
