<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Data Nilai 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card routerLink = "/kepsek/rincian-nilai">
    <ion-card-header>
      <ion-card-title><Kbd>Sejarah</Kbd></ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title><Kbd>IPA</Kbd></ion-card-title>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title><Kbd>Kimia</Kbd></ion-card-title>
    </ion-card-header>
  </ion-card>

  
  
  
  </ion-content>