<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Tambah Mata Pelajaran Baru </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item style="padding-top: 25px;">
    <ion-label position="stacked">Masukan Kode Kelas </ion-label>
    <ion-input placeholder="Masukan Kode Kelas Anda"></ion-input>
  </ion-item>

  <div class="ion-padding">
    <ion-button style="float: right;" routerLink="/tabs/tab1">Tambahkan</ion-button>
  </div>

</ion-content>
