<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title>Detail Tugas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-icon name="documents-outline" slot="start" size="large"></ion-icon>
  <ion-label>Judul Tugas</ion-label>
</ion-item>


<ion-card>
  <ion-card-header>
    <ion-card-title>Deskripsi Tugas</ion-card-title>
  </ion-card-header>

  <ion-card-content>
   Disini berisikan deskripsi dari tugas yang diberikan Guru.
  </ion-card-content>
</ion-card>


<div class="ion-padding">
  <ion-button style="float: right;">Upload File</ion-button>
  <ion-button style="float: right;">Kirim</ion-button>  

</div>


</ion-content>

