<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Notifikasi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Notifikasi</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
     Isi Notifikasi Examp : Tugas 3 telah dinilai.
    </ion-card-content>
  </ion-card>
</ion-content>
