<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Daftar Nilai Siswa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid style="padding-top: 25px;">
        <ion-row style="border-bottom: groove;">
          <ion-col col-4>
          <ion-label >NISN</ion-label>
        </ion-col>
        <ion-col col-4>
          <ion-label >Nama Siswa</ion-label>
        </ion-col>
          <ion-col col-4>
          <ion-label >Tugas 1</ion-label>
        </ion-col>
      </ion-row>
      </ion-grid>

      <ion-grid>
        <ion-row style="border-bottom: groove;">
          <ion-col col-4>
          <ion-label >5543</ion-label>
        </ion-col>
        <ion-col col-4>
          <ion-label >Nama Siswa </ion-label>
        </ion-col>
          <ion-col col-4>
          <ion-label >90</ion-label>
        </ion-col>
      </ion-row>
      </ion-grid>
    
     <ion-grid>

      <ion-row style="border-bottom: groove;">
        <ion-col col-4>
        <ion-label >55432</ion-label>
      </ion-col>
      <ion-col col-4>
        <ion-label >Nama Siswa</ion-label>
      </ion-col>
        <ion-col col-4>
        <ion-label >75</ion-label>
      </ion-col>
    </ion-row>

     </ion-grid>

     <ion-grid>

      <ion-row style="border-bottom: groove;">
        <ion-col col-4>
        <ion-label >55432</ion-label>
      </ion-col>
      <ion-col col-4>
        <ion-label >Nama Siswa</ion-label>
      </ion-col>
        <ion-col col-4>
        <ion-label >75</ion-label>
      </ion-col>
    </ion-row>
     </ion-grid>

     <ion-fab vertical="bottom" horizontal="end" slot="fixed" >
      <ion-fab-button>
        <ion-icon name="send"></ion-icon>
      </ion-fab-button>
    </ion-fab>

</ion-content>
