<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
    <ion-button fill="clear" (click)="dismiss()">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>
    </ion-buttons>
    <ion-title>Perbarui Profil</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="saveData()" [disabled]="loading">
        {{loading ? 'Menyimpan..':'Simpan'}}
      </ion-button>
      </ion-buttons>
  </ion-toolbar>

</ion-header>

  <ion-content>
    <ion-list>
      <ion-item>
        <ion-label position="stacked">Nama Lengkap</ion-label>
        <ion-input [(ngModel)]="user.name"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Nomor Induk</ion-label>
        <ion-input [(ngModel)]="user.ni"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input [(ngModel)]="user.email"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Telepon</ion-label>
        <ion-input [(ngModel)]="user.no"></ion-input>
      </ion-item>
    
    </ion-list>
</ion-content>
