<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Daftar Kelas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card routerLink = "/gr-wali/daftar-mapel">
    <ion-card-header>
      <ion-card-title><Kbd>Kelas X-1</Kbd></ion-card-title>
     </ion-card-header>
    </ion-card>
    <ion-card routerLink = "/gr-wali/daftar-mapel">
      <ion-card-header>
        <ion-card-title><Kbd>Kelas XI-IPA 2</Kbd></ion-card-title>
       </ion-card-header>
      </ion-card>
    <ion-card routerLink = "/gr-wali/daftar-mapel">
      <ion-card-header>
        <ion-card-title><Kbd>Kelas X-3</Kbd></ion-card-title>
       </ion-card-header>
      </ion-card>
     