<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Detail Tugas </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Judul Tugas</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-toolbar>
    <ion-segment [(ngModel)] = "selectedSegment">
      <ion-segment-button value="dikirimkan">
        <ion-label>Dikirimkan</ion-label>
      </ion-segment-button>
      <ion-segment-button value="dinilai">
        <ion-label>Dinilai</ion-label>
      </ion-segment-button>
      <ion-segment-button value="belumdikirim">
        <ion-label>Belum Dikirim</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" routerLink="/guru/detail-tugas-guru/daftar-nilai-siswa">
    <ion-fab-button>
      <ion-icon name="send"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div *ngIf = "selectedSegment == 'dikirimkan'">
        <ion-item routerLink="/guru/detail-tugas-guru/detail-pengirim">
          <ion-label>Nama Siswa</ion-label>
          <ion-note slot="end">Dikirimkan</ion-note>
        </ion-item>
  </div>

  <div *ngIf = "selectedSegment == 'dinilai'">
    <ion-item>
      <ion-label>Nama Siswa</ion-label>
      <ion-note slot="end">Dinilai</ion-note>
    </ion-item>
</div>

<div *ngIf = "selectedSegment == 'belumdikirim'">
  <ion-item>
    <ion-label>Nama Siswa</ion-label>
    <ion-note slot="end">Belum Dikirim</ion-note>
  </ion-item>
</div>
    
  

</ion-content>
