<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      E-Tugas 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  
      <ion-card button *ngFor="let n of mapels" color = "success" routerLink="/detail-mapel">
        <ion-card-header>
          <ion-card-title>{{n.nama}}</ion-card-title>
          <ion-card-subtitle>{{n.kelas}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          {{n.namagr}}
        </ion-card-content>
      </ion-card>
 
  

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" routerLink="/guru/tambah-mapel-guru">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>