<ion-header>
  <ion-toolbar>
    <ion-title style="text-align: center;">Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding" style="text-align: center;">
    <ion-icon name="person-outline" size="large"></ion-icon>
  </div>
  <ion-item>
    <ion-label position="stacked">Nama</ion-label>
    <ion-input placeholder="Masukan Nama" [(ngModel)] ="user.name" ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Nomor Induk</ion-label>
    <ion-input placeholder="Nomer Induk" [(ngModel)] ="user.ni"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Email</ion-label>
    <ion-input placeholder="Email" [(ngModel)] ="user.email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Password</ion-label>
    <ion-input type ="password" placeholder="Password" [(ngModel)] ="user.password"></ion-input>
  </ion-item>

  <ion-list>
    <ion-item>
      <ion-label>Daftar Sebagai</ion-label>
        <ion-select [(ngModel)]="member" name="member-pengguna" placeholder="Daftar Sebagai">
          <ion-select-option value="siswa">Siswa</ion-select-option>
          <ion-select-option value="guru">Guru</ion-select-option>
          <ion-select-option value="wali">Guru Wali</ion-select-option>
          <ion-select-option value="kepsek">Kepala Sekolah</ion-select-option>
        </ion-select>
    </ion-item>
    </ion-list>

  <div class="ion-padding">
    <ion-button expand="block" (click)="registrasi()" [disabled]='loading || user.password == undifined' >{{loading ? 'Tunggu..' : 'Registrasi'}}</ion-button>
  </div>
</ion-content>
