<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Detail Mata Pelajaran </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-toolbar>
    <ion-segment [(ngModel)] = "selectedSegment">
      <ion-segment-button value="forum">
        <ion-label>Forum</ion-label>
      </ion-segment-button>
      <ion-segment-button value="tugas">
        <ion-label>Tugas Kelas</ion-label>
      </ion-segment-button>
      <ion-segment-button value="anggota">
        <ion-label>Anggota</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <div *ngIf = "selectedSegment == 'forum'">
    <ion-card button *ngFor="let n of mapels" color = "success" routerLink="/detail-mapel">
      <ion-card-header>
        <ion-card-title>{{n.nama}}</ion-card-title>
        <ion-card-subtitle>{{n.kelas}}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        {{n.namagr}}
      </ion-card-content>
    </ion-card>

  </div>

  <div *ngIf = "selectedSegment == 'tugas'">
    <ion-card button *ngFor="let t of tasks" routerLink="/detail-mapel">
      <ion-card-header>
        <ion-card-title>{{t.judul}}</ion-card-title>
        <ion-card-subtitle>{{t.date | date:'dd MMM yyyy'}}</ion-card-subtitle>
      </ion-card-header>
      </ion-card>
  </div>

  <div *ngIf = "selectedSegment == 'anggota'">
      <ion-list-header>
        Pengajar
      </ion-list-header>
    <ion-item>
      <ion-avatar slot="start">
        <img src="./assets/avatar.svg">
      </ion-avatar>
      <ion-label>Nama Guru Pengampu</ion-label>
  </ion-item>

  <ion-list-header> 
    Siswa
  </ion-list-header>
  <ion-item>
    <ion-avatar slot="start">
      <img src="./assets/avatar.svg">
    </ion-avatar>
    <ion-label>Nama Anggota</ion-label>
</ion-item>

<ion-item>
  <ion-avatar slot="start">
    <img src="./assets/avatar.svg">
  </ion-avatar>
  <ion-label>Nama Anggota</ion-label>
</ion-item>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" routerLink="/guru/buat-tugas">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>
